<style>
    input[type="url"] {
        width: 100%;
    }
    input[type="email"] {
        width: 100%;
    }
    input[type="text"] {
        width: 100%;
    }
    input[type="submit"] {
        padding: 12px 40px;
    }
</style>
<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
  <label>Full Name</label><br>
  <input type="text" required name="full_name" placeholder="Bruce Wayne">
  </div>

  <div class="mb-2">
  <label>Email</label><br>
  <input type="email" required name="email" placeholder="bruce@wayne.com">
  </div>

  <div class="mb-2">
  <label>LinkedIn URL</label><br>
  <input type="url" name="linkedin_url" placeholder="https://linked.com/in/brucewayne">
  </div>

  <div class="mb-2">
    <label>Education</label><br>
    <textarea name="education" style="width:100%; height:135px"></textarea>
  </div>

  <div class="mb-2">
    <label>Work Experience</label><br>
    <textarea name="work_experience" style="width:100%; height:135px"></textarea>
  </div>

  <div class="mb-2">
  <label>Resume URL</label><br>
  <input type="url" name="resume_url">
  </div>

  <input type="submit" style="padding 20px">
</form>